<?xml version="1.0" ?>
<pv2web_ro__config version="1.0">

  <PVLIST_FILE 				value="pvlist.xml" />			<!-- PVs to be monitored -->

  <LOCAL_WWW_LIVEDATA_DIR 	value="localwww" />				<!-- absolute path to local directory with "web site" -->
  <XML_REPORT_FILE 			value="report.xml" />			<!-- raw data, updated at REPORT_INTERVAL_S -->

  <HTML_INDEX_FILE 			value="index.html" />			<!-- fancy display configured by instrument team -->
  <LIVEDATA_XSL_STYLESHEET 	value="livedata.xsl" />			<!-- source file for HTML_INDEX_FILE -->

  <HTML_RAWREPORT_FILE 		value="raw-report.html" />		<!-- complete list of monitored PVs -->
  <RAWTABLE_XSL_STYLESHEET 	value="raw-table.xsl" />		<!-- source file for HTML_RAWREPORT_FILE -->

  <LOG_INTERVAL_S 			value="300"  type="float" />	<!-- writing messages to log file -->

  <REPORT_INTERVAL_S 		value="10"  type="float" />		<!-- updates to HTML pages -->
  <SLEEP_INTERVAL_S 		value="0.1"  type="float" />	<!-- sleeps at end of main loop -->

  <MAINLOOP_COUNTER_TRIGGER value="10000" type="int" />		<!-- another logging message interval -->

</pv2web_ro__config>
